<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colnavbar" aria-controls="colnavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="colnavbar">
    <ul class="nav navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Webmastering
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for page in site.webclasses %}
          <a class="dropdown-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://tmartin357.github.io/class-project-2018/">SkyPlay Website (WIP)</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jargon
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for page in site.jargon %}
          <a class="dropdown-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>