<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colnavbar" aria-controls="colnavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="colnavbar">
    <ul class="nav navbar-nav">
      {% for page in site.xpage %}
      <li class="nav-item"><a class="nav-link" href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>