body { 
  padding-top: 65px; 
  margin-bottom: 60px;
}

.row {
  padding-bottom: 10px;
}

html {
  min-height: 100%;
  position: relative;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #f5f5f5;
}
