:root {
  --back: #036;
  --text: #cc9;
  --alt1: #fff;
  --alt2: #ccc;
}

body {
  background-color: var(--back);
  color: var(--text);
}

li {
  color: var(--text);
}

a:link:not(.dropdown-item) {
  color: var(--alt1);
}

a:visited:not(.dropdown-item) {
  color: var(--alt2);
}

a:hover:not(.dropdown-item) {
  color: var(--alt2);
}

img {
  width: 45%;
}

div.polaroid {
  width: 33%;
  background-color: var(--alt2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.polaroid {
  width: 100%;
  background: #fff;
}